.book-your-stay {
  font-size: 3em;
  margin: 0;
  font-style: italic;
}

.campground-main-image {
  height: 20em;
  width: 90%;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 20px;
}

.campground-name-container {
  background-color: white;
  padding: 20px;
}

.campground-name-text {
  font-size: 5em;
  margin: 0;
  color: rgb(57, 81, 68);
}

.check-availability-button {
  margin: 21.44px;
  font-style: italic;
}

.invalid-date-range {
  background-color: rgb(100, 18, 18, 0.5);
  margin: 20px;
  padding: 5px;
}

.invalid-date-range h1 {
  margin-bottom: 0;
  color: rgb(100, 18, 18);
}

.invalid-date-range h2 {
  margin-top: 0;
  color: rgb(100, 18, 18);
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .book-your-stay {
    font-size: 10vw;
  }

  .campground-name-text {
    font-size: 15vw;
  }

  .campground-main-image {
    height: 10em;
  }
}
