.visit-us-container {
  background-color: #4e6c50;
}

.visit-us-photos {
  width: 10vw;
  height: 5vw;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.visit-us-text {
  margin: 0;
  padding-top: 10px;
  color: white;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .visit-us-photos {
    width: 24vw;
    height: 12vw;
}}