.visit-us-container {
  background-color: #4e6c50;
}

.visit-us-photos {
  width: 80px;
  height: 40px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.visit-us-text {
  margin: 0;
  padding-top: 10px;
  color: white;
}
