.available-campground {
  color: #4E6C50;
  padding: 20px;
}

.available-campground-image {
  border-radius: 30px;
  height: 400px;
  object-fit: cover;
  width: 90%;
}

.available-campground-name {
  font-size: 3em;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .available-campground-image {
    height: 10em;
  }
}
