.campground {
  color: #4E6C50;
  padding: 20px;
}

.campground h1 {
  font-size: 3em;
}

.campgroundImage {
  width: 90%;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .campgroundImage {
    height: 10em;
  }
}
