.reserved-site-campground-link {
  color: #4e6c50;
}

.reserved-site-campground-title {
  color: #4e6c50;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
  text-shadow: 0.05em 0.05em 0 rgb(57, 81, 68, 0.5);
}

.reserved-site-image {
  height: 20vw;
  object-fit: cover;
  width: 35vw;
}

.reserved-site-info-container {
  background-color: rgb(57, 81, 68, 0.5);
  padding: 1vw;
}

.reserved-site-text-container {
  padding: 1em;
}

.reserved-site-text-container h3 {
  padding: 0;
}

.reserved-site-total-cost {
  margin: 0;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .reserved-site-image {
    height: 50vw;
    width: 90vw;
  }
}
