.reservedSiteInformationBox {
  background-color: rgb(57, 81, 68, 0.5);
  padding: 5px;
}

.campgroundTitle {
  font-weight: bolder;
  color: #4e6c50;
  text-shadow: 0.05em 0.05em 0 rgb(57, 81, 68, 0.5);
  font-style: italic;
  margin: 0;
}

.campgroundLink {
  color: #4e6c50;
}

.reservationText {
  padding: 1em;
}

.siteConfirmationImage {
  object-fit: cover;
  width: 25rem;
  height: 15rem;
}

.reservationText h3 {
  padding: 0;
}

.totalCostText {
  margin: 0;
}
