.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 2em;
  padding: 1em;
  position: relative;
}

.close-button {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  margin-left: 15px;
  transition: 0.3s;
}

.close-button:hover {
  color: black;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

.hide {
  display: none;
}

.success {
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
}
