.reservationInformationBox {
  background-color: rgb(57, 81, 68, 0.5);
  margin: 1em;
  padding: 5px;
  display: flex;
}

.reservationText {
  text-align: left;
  padding-left: 1em;
}

.reservationText h3 {
  padding: 0;
}

.reserveButton {
  margin-bottom: 1em;
  font-size: large;
}

.campgroundTitle {
  font-weight: bolder;
  color: #4e6c50;
  text-shadow: 0.05em 0.05em 0 rgb(57, 81, 68, 0.5);
  font-style: italic;
  margin: 0;
}

.campgroundLink {
  color: #4e6c50;
}

.totalCostText {
  margin: 0;
}