.reservation-page-confirm-your-reservation {
  color: #4e6c50;
  font-style: italic;
}

.reservation-campground-image {
  border-radius: 30px;
  height: 300px;
  margin-top: 20px;
  object-fit: cover;
  width: 90%;
}

.reservation-info-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 1em;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .reservation-info-container {
    flex-direction: column;
  }

  .reservation-campground-image {
    height: 10em;
  }
}
