.campgroundConfirmationImage {
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 20px;
}

.confirmationHeader {
  font-style: italic;
  color: #4e6c50;
}

.doublePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .doublePageContainer {
    flex-direction: column;
  }

  .campgroundConfirmationImage {
    height: 10em;
  }
}
