.available-site {
  background-color: rgb(57, 81, 68, 0.5);
  display: flex;
  margin: 20px;
  padding: 5px;
}

.available-site-description-container {
  flex: 1;
}

.available-site-image {
  height: 15rem;
  object-fit: cover;
  width: 25rem;
}

.available-site-info-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 1em;
  text-align: left;
}

.book-button {
  margin: 10px;
}

.book-button-container {
  align-items: center;
  align-self: stretch;
  background-color: rgba(181, 199, 188, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .available-site {
    flex-direction: column;
  }

  .available-site-image {
    width: 100%;
  }
}
