.availableSiteDisplay {
  background-color: rgb(57, 81, 68, 0.5);
  margin: 20px;
  padding: 5px;
  display: flex;
}

.bookButton {
  margin: 10px;
}

.bookButtonBox {
  align-items: center;
  background-color: rgba(181, 199, 188, 0.9);
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-self: stretch;
}

.siteImage {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
}

.siteInformationBox {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  text-align: left;
  padding: 1em;
}

.siteNameDescriptionBox {
  flex: 1;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .availableSiteDisplay {
    flex-direction: column;
  }

  .siteImage {
    width: 100%;
  }
}
