.header-container {
  background-color: white;
  padding: 1em 0em;
}

.header-brand-title {
  /* border-bottom: 12px solid #4e6c50;
  border-top: 12px solid #4e6c50; */
  color: #4e6c50;
  font-family: sans-serif;
  font-size: 5em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
  text-shadow: 0.05em 0.05em 0 rgb(57, 81, 68, 0.5);
}

.header-home-link {
  color: #4e6c50;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .header-brand-title {
    font-size: 12vw;
  }
}
