.headerBox {
  background-color: white;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 10px;
}

.homeLink {
  color: #4e6c50;
}

.brandTitle {
  font-weight: bolder;
  color: #4e6c50;
  text-shadow: 0.05em 0.05em 0 rgb(57, 81, 68, 0.5);
  font-size: 6em;
  font-style: italic;
  margin: 0;
}
