.reserve-button {
  font-size: large;
  margin: 1em;
}

.reservation-form-checkbox-input {
  margin-right: 5px;
}

.reservation-form-containter {
  padding: 0 50px;
}

.reservation-form-inputs {
  align-items: left;
}

.reservation-form-text-input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  margin: 10px;
  padding: 10px;
  width: 200px;
}
