.reserve-button {
  font-size: large;
  margin: 1em;
}

.reservation-form-checkbox {
  margin-right: 5px;
}

.reservation-form-containter {
  align-self: center;
  padding: 0 50px;
}

.reservation-form-rv-information {
  margin-top: 0;
}

.reservation-form-everything-looks-good-container {
  margin: 10px;
}

.reservation-form-inputs {
  align-items: left;
}

.reservation-form-text-input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

/* MOBILE + TABLET PORTRAIT */
@media screen and (max-device-width: 780px) and (orientation: portrait) {
  .reservation-form-containter {
    margin-top: 1.5em;
  }
}
