body {
  background: white;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.button {
  color: white;
  background-color: #395144;
  border-radius: 8px;
  border-width: 0;
  padding: 10px 12px;
}

.button:hover {
  transform: translateY(-1px);
  background-color: #4E6C50;
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* MOBILE */
@media screen and (max-device-width: 540px) and (orientation: portrait) {
}

/* TABLET */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
    width: 600px;
  }
}
