body {
  background: white;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  padding: 0 16px;
}

footer {
  color: green;
}

.brand {
  font-weight: bolder;
  color: green;
}
