body {
  background: white;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  padding: 0 16px;
}

.brand {
  font-weight: bolder;
  color: green;
}

footer {
  color: green;
}

.campground {
  color: pink;
  margin: 10px;
  padding: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.campgroundImage {
  color: green;
  width: 1000px;
  height:400px;
  object-fit: cover;
}
